.input:focus {

}

.input {
    outline: none;
    width: 372px;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 10px;
    height: 36px;
    border-radius: 5px;
    transition: .4s;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.superInput {

}

.errorInput {
    border: 1px solid rgba(204, 20, 57, 1);
}

.errorInput:focus {
    border: 1px solid rgba(204, 20, 57, 1);
}

.error {
    color: rgba(204, 20, 57, 1);
    font-size: 14px;
    position: absolute;
    top: -20px;
    transition: .4s;
    opacity: 1;
}
