.radio {
    width: 20px;
    position: relative;
justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;

}
.radio:checked{
   accent-color: black;
}
.radio::before {
}


.radio:checked::before {

}

.label {
    display: flex;
    gap: 10px;
margin-bottom: 20px;

}
.label span {
    font-size: 16px;
}

.options {

}
