.burgerMenuIcon {
    cursor: pointer;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 17px 70px;
    box-shadow: 0px 0px 40px rgba(29, 33, 38, 0.1);
    position: relative;
    margin-bottom: 37px;
}

.header h1 {
    font-size: 24px;
    font-weight: 600;

}